<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body method="POST">
    <h2>Ex1</h2>
    <h3>Model
        <input type="text" name="Model">
    </h3>
    <h3>Daily fee (VND)
        <input type="number" name="Daily fee (VND)">
    </h3>
    <h3>Image
        <input type="url" name="Image">
    </h3>
    <h3>Year
        <input type="number" name="Year">
    </h3>
    
    <button>Submit</button>
    
</body>
</html>